body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
  font-size: 12pt ;
  font-family: "calibri";
  font-weight: bold;
}
h3{
  font-size: 14pt;
  margin: 0.1px;
  
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

hr.bold{
  color: black;
background-color: black;
height: 3px;
padding: 0 0 0 0;
}
hr.dobel{
      height: 5px;
    border-top: 3px solid black;
    border-bottom: 1px solid black;
}
td.bold {
    
    font-weight: bold;

    
}
td.bold1 {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    padding-left: 30px;
   
}
td.bold2 {
  padding-left: 0px;

}

td.isi {
  width: 140px;
  font-weight: bold;
  padding-left: 20px;
}
td.kotak{
  border: 2px solid black;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 3px;
    border-color: black;
}


.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 1cm;
  margin: 1cm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
    height: 256mm;
 
}


/*@page {
  size: A4;
  margin: 0;
}*/
@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}